@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
* { margin:0; padding:0; box-sizing:border-box; }
body {
	background-color: #ffffff;
	color: #333;
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	font-size: 16px;
}
h1 {
	font-size: 48px;
	font-weight:700;
}
h3 {
	font-size: 32px;
	font-weight:700;
}
h4 {
	font-size: 24px;
	font-weight:400;
}
#hero {
	background:url(../images/temp_image.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	color:#fff;
	padding:20em 0;
	text-align:center;
}
.wrapper {
	background-color:#FFE2B8;
	border:1px black solid;
	padding:20px;
}
nav {
	background-color:#E8C66A;
	border:1px black solid;
	padding:20px;
}
#about {
	background-color:#FFE2B8;
	border:1px black solid;
	padding:20px;
}
#projects {
	background-color:#FFE2B8;
	border:1px black solid;
	padding:20px;
}
#project1 {
	background-color:#E89C6C;
	border:1px black solid;
	padding:20px;
}
#project2 {
	background-color:#E89C6C;
	border:1px black solid;
	padding:20px;
}
#project3 {
	background-color:#E89C6C;
	border:1px black solid;
	padding:20px;
}
.project_column {
	float: left;
	width: 33.3%;
}
.clearfix:after {
	display: block;
	content: " ";
	clear: both;

	font-size: 0;
	visibility: hidden;
	height: 0;
}
#two_column {
	background-color: #ffb7cf;
	border: 1px black solid;
	padding: 20px;
}
#left {
	background-color: violet;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width:30%;
}
#right {
	background-color: pink;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 62%;
}